<h1>Authors</h1>

{{#each authors}}

<div>
    <p> Name: {{this.name}}</p>
    <p> Bio: {{this.bio}}</p>
    <p> Gender: {{this.gender}}</p>
</div>
<a href="/authors/{{this._id}}">Show</a>
<a href="/authors/{{this._id}}?_method=DELETE">Delete</a>
<a href="/authors/{{this._id}}/edit">Edit</a>
<hr>

{{/each}}